*
  margin: 0
  padding: 0
  box-sizing: border-box
  font-size: 1rem

a
  text-decoration: none
  &:active, &:hover, &:link
    color: #666

ul li
  list-style: none

html
  position: relative
  width: 100%
  height: 100%
  background-color: #eee
  font-size: 16px
  font-size: 62.5%
  font-family: "Helvetica Neue",Arial,Helvetica,sans-serif
  line-height: 1.3

#trello-wrapper
  position: relative
  width: 100%
  height: 100%
  overflow: hidden

