.ins-comment-form
  position: relative
  background-color: #fff
  width: 100%
  display: flex
  align-items: center
  padding: 2px 0
  margin-top: 15px
  border-top: 1px solid #eee
  .comment-form-more-btn
    width: 40px
  .comment-form-like-btn
    width: 40px
  .comment-form-input-wrapper
    margin: 0 5px
    flex: 1 0 auto
    padding: 15px 0
    .comment-form-input
      position: relative
      color: #999
      border: none
      width: 100%


