.trello-col-container
  position: absolute
  top: 40px
  bottom: 0
  left: 0
  padding-top: 0
  width: 100%
  background-color: rgb(0, 174, 204)
  overflow-x: auto
  .col-content
    padding: 15px 0 10px 10px
    max-height: calc(100% - 8px)
    overflow-y: hidden
    overflow-x: scroll
    position: relative
    white-space: nowrap
    margin-bottom: 8px
    &::-webkit-scrollbar
      height: 13px
    &::-webkit-scrollbar-track
      border-radius: 5px
      background: #0094AE
      margin: 0 10px 10px 10px
    &::-webkit-scrollbar-thumb
      background-color: #66BFCE
      border-radius: 5px
