.instagram-stream-item
  position: relative
  background-color: #fff
  width: 100%
  margin-top: 60px
  .owner-and-time
    position: relative
    width: inherit
    display: flex
    padding: 20px 15px
    align-items: center
    border: 1px solid #eee
    border-bottom: none
  .owner
    position: relative
    display: flex
    flex: 1 0 auto
    align-items: center
    .owner-pic
      position: relative
      width: 28px
      border-radius: 50%
    .owner-name
      margin-left: 10px
      font-size: 1.5rem
  .time
    color: #999
    font-size: 1.3rem
    line-height: 18px
  .media
    position: relative
    width: inherit
    font-size: 0
    img
      width: inherit
  .other-sns
    padding: 20px
    font-size: 1.5rem
    border: 1px solid #eee
    border-top: none
    .sns-likes
      padding-bottom: 10px
      font-weight: bold
    .sns-owner-nickname
      margin-right: 5px
      font-weight: bold
    .sns-comments
      padding: 5px 0
      color: #999
