.not-found-wrapper
  position: relative
  text-align: center
  background-color: #888
  color: #fff
  font-size: 1.4rem
  width: 60%
  margin: 20% auto 0 auto
  .not-found-icon
    position: relative
    margin: 10px auto
  .not-found-text
    position: relative
