.instagram-stream
  position: relative
  width: 600px
  margin: 0 auto
.ins-stream-load-more
  position: relative
  margin: 25px auto
  width: 150px
  height: 150px
  padding: 0
  border-radius: 50%
  border: 1px solid #ddd
  background-color: #fff
  text-align: center
  line-height: 150px
  font-size: 1.5rem
  color: #aaa
