@import '../util.styl'

.trello-board-brief-list-wrapper
  .brief-list-section
    position: relative
    .brief-list-section-title
      font-size: 1.6rem
      color: #333
      padding: 0 0 11px
      margin-left: 40px
      line-height: 30px
      &::before
        content ''
        color: #fff
        position: absolute
        top: 0px
        left: 0
        width: 30px
        height: 30px
        background-size: 30px 30px
        background-position: 0 0
        background-repeat: no-repeat
        border-top-right-radius: 3px
        border-bottom-right-radius: 3px
      &.starred-board
        &::before
          background-image: url('../../../res/icons/star-gray.png')
      &.my-board
        &::before
          background-image: url('../../../res/icons/people.png')
      &.organization-board
        &::before
          background-image: url('../../../res/icons/peoples.png')
      .trello-icon-btn
        float: none
        display: inline-block
        background-color: #999
        padding: inherit
        padding-left: 5px
        margin-left: 10px
        font-weight: normal
        .label
          padding: 0 5px
    .brief-list-section-content
      clearfix()
      list-style: none
      margin-bottom: 30px
