@import '../util.styl'

.trello-board-brief-list-wrapper
  .brief-list-section
    position: relative
    .brief-list-section-title
      font-size: 1.8rem
      color: #333
      padding: 0 0 11px
    // margin: 0 0 0 38px
    .brief-list-section-content
      clearfix()
      list-style: none
      margin-bottom: 30px
