@import '../../../assets/css/util.styl'

.trello-col-list-card
  position: relative
  box-sizing: border-box
  background-color: #fff
  margin-bottom: 8px
  border-radius: 3px
  white-space: normal
  text-align: left
  &:last-child
    margin: 0
  &:hover
    background-color: darken(#e2e4e6, 5%)
  .col-list-card
    display: block
    padding: 6px 6px 2px 8px
  .col-list-card-label-list
    margin-bottom: 5px
    line-height: 1
    .card-label
      height: 8px
      width: 42px
      display: inline-block
      border-radius: 3px
      margin: 0 3px 3px 0
  .col-list-card-name
    font-size: 1.3rem
    line-height: 1.4
  .col-list-card-others
    clearfix()
    margin-top: 5px
    .col-list-card-badges
      color: #8c8c8c
      float: left
      span
        margin-right: 5px
    .col-list-card-members
      float: right
      text-align: center
      vertical-align: middle
      .card-member
        width: 30px
        height: 30px
        background-color: #d6dadc
        border-radius: 3px
        color: #4d4d4d
        display: block
        float: left
        margin: 0 4px 4px 0
        overflow: hidden
        position: relative
        user-select: none
        z-index: 0
